In [1]:
import pandas as pd

data = {
  "x": [1,2,3,4,5], "y": [2,4,6,8,10]
     }

#load data into a DataFrame object:

df = pd.DataFrame(data)

#print(df['x']) #(only displays the table and values of x)
#print(df) #(creates a table with 2 columns x&y)
df #(displays the table in an actual table format with bold rows and light rows)
#print(df.loc[1]) #(used to access values in a table using index numbers e.g print(df.loc[1]) gives x=2 & y=4)

   x   y
0  1   2
1  2   4
2  3   6
3  4   8
4  5  10

In [3]:

d= dict()
d={'Age' : 20,
   'height' : 1.7,
   'colour' : 'black'}

d['Age']=21
d['height']=1.8
d['colour']='white'
print(d)

{'Age': 21, 'height': 1.8, 'colour': 'white'}